.header{
    background-color: #181818;
    align-items: center; 
    top: 0;
    height: 60px;
    border-radius: 5px;
    position: relative;
    padding: 10px;
}

.header_searchInput{ 
    height: 20px;
    padding: 15px;
    border: none;
    width: 50%;
}

.header_searchIcon{
    background-color: #cd9042;
    padding: 2px;
    height: 23px !important;
}